<main class="grid place-content-center place-items-center gap-4 min-h-screen text-center">
    <h1 class="text-6xl text-theme-9">Error 404</h1>
    <p class="text-2xl text-theme-9">Page not found</p>
    <p class="max-w-xl">We have no idea how you ended up here, but you definitely shouldn't have.</p>
    <%= link "Go back to safety", to: redirect_to(@conn), class: "text-lg underline text-accent-500 dark-t:text-accent-400 hover:text-accent-400 dark-t:hover:text-accent-300 transition-colors" %>
</main>
