<h1>Reset password</h1>

<p>Hello, <strong><%= @username %></strong>! Someone has requested a password reset for your account. If you requested this, click the button below to proceed.</p>

<p class="button-wrapper">
  <a href={ @link } class="button">Reset password</a>
</p>

<h2>Not you or you did this on accident?</h2>
<p>If you did not request a new password, please ingore this email. Nothing will happen unless you click the button above and create a new password.</p>
