<h1>Confirm your new email</h1>

<p>Hello <strong><%= @username %></strong>! Please confirm that <strong><%= @recipient_email %></strong> is your new email address by clicking the button below</p>

<p class="button-wrapper">
  <a href={ @link } class="button">Update email</a>
</p>

<h2>Didn't request this email change?</h2>
<p>If you did not create this account you can safely ignore this email and delete it and nothing further will happen.</p>
