<div class="self-start grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 md:gap-6 xl:gap-8 rounded-3xl">
  <%= for game <- Games.get_all_games do %>
    <section phx-click={ game.name } class="rounded-lg overflow-hidden text-center bg-theme-2 dark-t:bg-theme-3 shadow-equal shadow-theme-neutral-4 dark-t:shadow-theme-neutral-1 cursor-pointer test:bg-red-500">
      <img src={ game.image_path } class="object-cover">
      <h2 class="p-4 font-sans font-normal leading-none text-xl"><%= game.display_name %></h2>
    </section>
  <% end %>
</div>
