<div>
    <%= for {game, cosmetics} <- @games_cosmetics do %>
        <h2><%= game.display_name %></h2>
        <%= for cosmetic <- cosmetics do %>
            <div class="max-w-sm">
                <%= content_for_cosmetic(cosmetic) %>
            </div>
        <% end %>
    <% end %>
</div>
